.projects{
    display: flex;
    height: 80vh;
    max-width: 100vh;
    min-width: 1350px;
}

.projects-content{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
}

.projects-title{
    font-family: "Russo One", sans-serif;
    font-weight: 200;
    font-style: normal;
    display: flex;
    text-align: left;
}

.projects-descr{
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    max-width: 600px;
    color: black;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px,400px));
    gap: 40px;
    margin-top: 55px;
    width: 1050px;
    position: relative;
}

/*.carousel-images {
    display: flex;
    transition: transform 0.5s ease; 
  }

  .carousel-images img {
    width: 100%; 
  }*/

/*.earth-card{
    display: flex;
    border: 0px solid rgb(221, 221, 221);
    border-radius: 10px;
    margin-top: 30px;
    width: 970px;
    box-shadow: 0 0px 15px rgb(197, 197, 197);
    overflow: hidden;
}*/

.earth-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 310px;
    width: 320px;
    border-radius: 15px;
    overflow: hidden;
    animation: moveUpDown2 2s ease-in-out infinite alternate;
}

.earth-card img {
    transition: filter 0.5s ease; /* Transition for image filter */
}

.earth-card .overlay {
    position: absolute;
    padding-top: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: rgb(39, 39, 39); /* Overlay color with opacity */
    color: white;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.6s ease; /* Transition for overlay opacity */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  /*.earth-card:hover img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%); 
  }*/

  .earth-card:hover .overlay {
    opacity: 1; /* Show overlay on hover */
  }

.earth-card:hover{
    border: 0px solid rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);
    transition: background-color 0.4s ease;
    border-radius: 15px;
    box-shadow: 0 0px 9px blue;
    animation-play-state: paused;
}

.earth-card-info{
    text-align: left;
    margin-left: 45px;
}

.earth-text{
    margin-top: 5px;
    color: whitesmoke;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    max-width: 220px;
    font-size: 15px;
}

.earth-img{
    height: 310px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 1px 10px rgb(53, 39, 26);
}

.project-link-e{
    /*color: rgb(68, 250, 162);*/
    color: whitesmoke;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
    font-style: normal;
    border: 3px solid rgba(0, 0, 255, 0.888);
    border-radius: 15px;
    margin-bottom: 40px;
    transition: background-color 0.5s ease, border 0.5s ease;
}

.project-link-e:hover{
    /*color: rgb(68, 250, 162);*/
    background-color: rgba(0, 0, 255, 0.888);
    transition: background-color 0.5s ease;
    border: 3px solid rgba(0, 0, 255, 0.888);
    color: white;
}

/*.memes-card{
    display: flex;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    margin-top: 30px;
    width: 970px;
    box-shadow: 0 0px 15px rgb(197, 197, 197);
}*/

.memes-card{
    position: relative;
    height: 310px;
    width: 320px;
    border-radius: 15px;
    overflow: hidden;
    animation: moveUpDown2 2s ease-in-out infinite alternate;
}

.memes-card img {
    width: 100%;
    height: 100%;
    transition: filter 0.5s ease; /* Transition for image filter */
}

.memes-card .overlay {
    position: absolute;
    padding-top: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: rgb(39, 39, 39);
    color: white;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.6s ease; /* Transition for overlay opacity */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

/*.memes-card:hover img {
filter: grayscale(100%); 
}*/

.memes-card:hover .overlay {
opacity: 1; /* Show overlay on hover */
}

.memes-card:hover{
    display: flex;
    border: 0px solid rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);
    transition: background-color 0.4s ease;
    border-radius: 15px;
    box-shadow: 0 0px 9px blue;
    animation-play-state: paused;
}

.memes-card-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 45px;
}

.memes-text{
    margin-top: 5px;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    max-width: 220px;
    font-size: 15px;
}

.memes-img{
    height: 310px;
    width: 320px;
    border-radius: 8px;
}

.project-link-m{
    color: whitesmoke;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
    font-style: normal;
    border: 3px solid rgba(0, 0, 255, 0.888);
    border-radius: 15px;
    margin-bottom: 40px;
    transition: background-color 0.5s ease, border 0.5s ease;
}

.project-link-m:hover{
    /*color: rgb(68, 250, 162);*/
    background-color: rgba(0, 0, 255, 0.888);
    transition: background-color 0.5s ease;
    border: 3px solid rgba(0, 0, 255, 0.888);
    color: white;
}

/*.upet-card{
    display: flex;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0 0px 15px rgb(197, 197, 197);
    border-radius: 10px;
    margin-top: 30px;
    width: 970px;
}*/

.upet-card{
    position: relative;
    height: 310px;
    width: 320px;
    border-radius: 15px;
    overflow: hidden;
    animation: moveUpDown2 2s ease-in-out infinite alternate;
}

.upet-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.5s ease; /* Transition for image filter */
}

.upet-card .overlay {
    position: absolute;
    padding-top: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: rgb(39, 39, 39);
    color: white;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.6s ease; /* Transition for overlay opacity */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

/*.upet-card:hover img {
filter: grayscale(100%); 
}*/

.upet-card:hover .overlay {
opacity: 1; /* Show overlay on hover */
}

.upet-card:hover{
    display: flex;
    border: 0px solid rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);
    transition: background-color 0.4s ease;
    border-radius: 15px;
    box-shadow: 0 0px 9px blue;
    animation-play-state: paused;
}

.upet-card-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: start;
    margin-left: 45px;
}

.upet-text{
    margin-top: 5px;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    max-width: 220px;
    font-size: 15px;
}

.upet-img{
    height: 310px;
    width: 320px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.project-link-u{
    color: whitesmoke;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
    font-style: normal;
    border: 3px solid rgba(0, 0, 255, 0.888);
    border-radius: 15px;
    margin-bottom: 40px;
    transition: background-color 0.5s ease, border 0.5s ease;
}

.project-link-u:hover{
    /*color: rgb(68, 250, 162);*/
    background-color: rgba(0, 0, 255, 0.888);
    transition: background-color 0.5s ease;
    border: 3px solid rgba(0, 0, 255, 0.888);
    color: white;
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }

  .carousel-images.active {
    animation: slide 5s infinite; /* Adjust duration and timing */
  }